<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<title>fileUpload page</title>
<script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript">
	function uploadFileClick() {
		var formData = {};
		formData = new FormData();
		var file = document.getElementById('fileName');
		var files = file.files;
		var len = files.length;

		for (var i = 0; i < len; i++) {
			formData.append('fileName', files[i]);
		}
		jQuery.ajax({
			type : 'post',
			url : "http://localhost:8080/fileUpload",
			data : formData,
			contentType : false,
			processData : false,
			async:false,
			dataType : "json",
			success : function(data) {
				console.log(data);
			},
			error : function() {
				alert("文件上传发生异常");
			}
		});
	}
</script>
</head>
<body>
	<h1 th:inlines="text">文件上传</h1>
	<div>
		<input type="file" id="fileName" name="fileName"> 
		<input type="button" id="" value="上传文件" onclick="uploadFileClick()">
	</div>
</body>
</html>